<html>
    <head>
        <title>Prahlad's Blog</title>
    </head>
    <body bgcolor="black" text="white">
        <div>
            <h1><a href=/">......................................................."HI THERE !!".....................................................</a></h1>
            <h1><a href=/">...........................................This is Prahlad Chaudhary...........................................</a></h1>
        </div>
        <marquee> """"think innovative , think big , achive big """"</marquee>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Modern Era is The Era of Drones</a></h2>
            <p>According to a Wall Street Journal report, the history of non-military drone use began in earnest in 2006. Government agencies for disaster relief, border surveillance and wildfire fighting, while corporations began using drones to inspect pipelines and spray pesticides on farms.

As unmanned aerial vehicle technology improved in the military sector, those same technological improvements could be used in the private sector.

However, you may be surprised to hear that recreational drone use actually only took off (pun intended) very recently, and it’s grown fast. One of the main reasons for this is that the Federal Aviation Administration had to be convinced that commercial drones were safe to allow and determine proper regulatory measures.

2006 was the first year that the FAA issued a commercial drone permit. They issued an average of two of these permits a year for the next eight years – that was all that was requested.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">IIT's</a></h2>
            <p>According to a Wall Street Journal report, the history of non-military drone use began in earnest in 2006. Government agencies for disaster relief, border surveillance and wildfire fighting, while corporations began using drones to inspect pipelines and spray pesticides on farms.

As unmanned aerial vehicle technology improved in the military sector, those same technological improvements could be used in the private sector.

However, you may be surprised to hear that recreational drone use actually only took off (pun intended) very recently, and it’s grown fast. One of the main reasons for this is that the Federal Aviation Administration had to be convinced that commercial drones were safe to allow and determine proper regulatory measures.

2006 was the first year that the FAA issued a commercial drone permit. They issued an average of two of these permits a year for the next eight years – that was all that was requested.</p>
        </div>
    </body>
</html>